@import "../../../style-config/mixins.scss";
@import "../../../style-config/variable.scss";

.contact-info-box {
    border-color: $black-lighter;
    width: 355px;
    padding: 30px;
    border-radius: 6px;
    color: $gray;
    h4{
        line-height: 34px;
        margin-bottom: 20px;
    }
    .contact-option{
        display: flex;
        align-items: center;
        margin-top: 15px;
        svg{
            color: $yellow;
            font-size: 18px;
        }
        .text{
            color: $white;
            margin-left: 15px;
            letter-spacing: 2px;
        }
    }
}